server.port=

spring.flyway.enabled=
spring.flyway.ignore-migration-patterns=

spring.jpa.hibernate.ddl-auto=
spring.jpa.show-sql=
spring.jpa.open-in-view=
spring.jpa.database-platform=
spring.jpa.properties.hibernate.jdbc.time_zone=

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=

spring.data.redis.host=
spring.data.redis.port=16379

cors.allowedOrigins=
cors.allowedMethods=
cors.allowCredentials=

spring.jackson.date-format=
spring.jackson.time-zone=
spring.jackson.serialization.indent-output=

gemini.api.key=
gemini.api.url=

logging.level.root=
logging.level.org.springframework=
logging.level.org.hibernate=
logging.level.org.apache.catalina=
logging.level.org.hibernate.SQL=
logging.level.org.hibernate.orm.jdbc.bind=
logging.level.org.hibernate.type.descriptor.sql=
logging.level.com.project_exam.backend=

spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=
spring.mail.protocol=
spring.mail.properties.mail.smtp.auth=
spring.mail.properties.mail.smtp.starttls.enable=
spring.mail.properties.mail.smtp.starttls.required=
spring.mail.properties.mail.smtp.ssl.trust=
spring.mail.properties.mail.debug=
spring.mail.properties.mail.smtp.connectiontimeout=
spring.mail.properties.mail.smtp.timeout=
spring.mail.properties.mail.smtp.writetimeout=

spring.servlet.multipart.max-file-size=
spring.servlet.multipart.max-request-size=

cloudinary.cloud-name=
cloudinary.api-key=
cloudinary.api-secret=

jwt.secret=
jwt.expiration=
jwt.refresh.expiration=

app.frontend.origin=
app.mail.from-address=
app.mail.from-name=
app.mail.site-name=
app.mail.batch-size=
app.mail.batch-delay-ms=
app.guest.cookie-name=
app.guest.cookie-max-age=
app.admin.username=
app.admin.email=
app.admin.fullName=
app.admin.password=
app.recaptcha.enabled=
app.recaptcha.secret=


spring.security.oauth2.client.registration.google.client-id=
spring.security.oauth2.client.registration.google.client-secret=
spring.security.oauth2.client.registration.google.scope=

spring.security.oauth2.client.registration.facebook.client-id=
spring.security.oauth2.client.registration.facebook.client-secret=
spring.security.oauth2.client.registration.facebook.scope=


