@use 'shared/styles/mixins.scss' as globalStyles;

.button {
  @include globalStyles.buttonBase;
}

.primary {
  @include globalStyles.primaryGradientButton;
}

.outline {
  @include globalStyles.buttonOutline;
}

.ghost {
  @include globalStyles.buttonGhost;
}

.danger {
  @include globalStyles.buttonDanger;
}

.dangerGhost {
  @include globalStyles.buttonDangerGhost;
}

.success {
  @include globalStyles.buttonSuccess;
}

.sm {
  @include globalStyles.buttonSizeSm;
}

.md {
  @include globalStyles.buttonSizeMd;
}

.lg {
  @include globalStyles.buttonSizeLg;
}

.icon {
  padding: 0.6rem;
  border-radius: 10px;
}

.fullWidth {
  width: 100%;
}
