.editor {
  position: relative;

  :global(.ql-container) {
    height: 24rem;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    border-color: var(--border-color);
  }

  :global(.ql-toolbar) {
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    border-color: var(--border-color);
  }

  :global(.ql-editor) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
  }

  :global(.ql-snow .ql-tooltip) {
    left: 0 !important;
    z-index: 5;
    border-color: var(--border-color);
    background: var(--bg-white);
    color: var(--text-color);
    border-radius: 0.6rem;
    box-shadow: var(--shadow-lg);
  }

  :global(.ql-snow .ql-picker.ql-header .ql-picker-label)::before,
  :global(.ql-snow .ql-picker.ql-header .ql-picker-item)::before {
    content: 'Đoạn văn';
  }

  :global(.ql-snow .ql-picker.ql-header .ql-picker-label[data-value='1'])::before,
  :global(.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='1'])::before {
    content: 'Tiêu đề 1';
  }

  :global(.ql-snow .ql-picker.ql-header .ql-picker-label[data-value='2'])::before,
  :global(.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='2'])::before {
    content: 'Tiêu đề 2';
  }

  :global(.ql-snow .ql-picker.ql-header .ql-picker-label[data-value='3'])::before,
  :global(.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='3'])::before {
    content: 'Tiêu đề 3';
  }

  :global(.ql-snow .ql-picker.ql-size .ql-picker-label)::before,
  :global(.ql-snow .ql-picker.ql-size .ql-picker-item)::before {
    content: 'Chữ thường';
  }

  :global(.ql-snow .ql-picker.ql-size .ql-picker-label[data-value='small'])::before,
  :global(.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='small'])::before {
    content: 'Chữ nhỏ';
  }

  :global(.ql-snow .ql-picker.ql-size .ql-picker-label[data-value='large'])::before,
  :global(.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='large'])::before {
    content: 'Chữ lớn';
  }

  :global(.ql-snow .ql-picker.ql-size .ql-picker-label[data-value='huge'])::before,
  :global(.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='huge'])::before {
    content: 'Chữ rất lớn';
  }

  :global(.ql-snow .ql-picker.ql-header),
  :global(.ql-snow .ql-picker.ql-size) {
    width: 11rem;
  }
}
