.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0;

    p {
        margin-top: 25px;
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--primary);
    }
}